#footer
  background: color-footer-background
  padding: 50px 0
  border-top: 1px solid color-border
  color: color-grey
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  line-height: line-height
  font-size: 0.85em

.scroll-top
  position fixed
  bottom 126px
  right 25px
  display none
  font-size 70px
  cursor pointer
  opacity 0.8
  z-index 199
  @media screen and (max-width: 992px)
    bottom 0
    right 10px
    font-size 50px